body {
    background-color: #1f2a2b;
    font-family: "Outfit", sans-serif;
    padding: 30px;
    position: relative;
}
p {
    margin: 0;
}

.nav-bar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile{
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.nav-bar-buttons{
    width: 900px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar-buttons p{
    border: 3px solid rgba(16, 127, 101, 0.095);
    padding: 10px;
    font-size: 30px;
    font-weight: 190;
    color: white;
    cursor: pointer;
}

.home-nav{
    transition: font-weight 0.2s;
    transition: font-size 0.2s;
}
.home-nav:hover{
    font-weight: 500;
    font-size: 40px;
}
.portfolio-nav{
    transition: font-weight 0.2s;
    transition: font-size 0.2s;
}
.portfolio-nav:hover{
    font-weight: 500;
    font-size: 40px;
}
.resume-nav{
    transition: font-weight 0.2s;
    transition: font-size 0.2s;
}
.resume-nav:hover{
    font-weight: 500;
    font-size: 40px;
}

.text-section{
    margin-top: 60px;
    width: 900px;
    height: 350px;
}

.welcome-text{
    color: white;
    font-size: 50px;
    font-weight: 100;
}

.introduce-text{
    margin-top: 20px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-right: 100px;
}
.blue{
    color: #00f0b8;
}
.bio-text{
    margin-top: 20px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin-right: 135px;
}

.social-sections{
    position: absolute;
    width: 600px;
    height: 200px;
    top: 630px;
    left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.socials-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.socials-buttons button{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 26px;
    border: 0;
    box-shadow: 7px 7px rgba(0, 28, 8, 0.568);
    background-color: #234037;
}

.find-me-text{
    color: white;
    font-weight: 100;
    font-size: 40px;
}


.bg-cont{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color:#222f2f;
    right: 0;
    top: 440px;
    box-shadow: -10px -10px 50px rgba(17, 17, 17, 0.563);
}

